td {
  width: 36px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #d3dbe3;
  font-size: 1.5rem;
  background: #fff;
  padding: 0;

  &.dark-cell {
    background: #aca6a6;
  }
  &.light-cell {
    background: #fdfcfc;
  }
  &.selected-cell {
    outline: 2px solid #4ef321;
    z-index: 1;
  }
}

.piece {
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: middle;

  &.black {
    color: #1c1b1b;

  }
  &.white {
    color: #fff;

  }
}
