app-machine-status {
  margin-left: 30px;
}

mat-list-item {
  margin-bottom: 10px;
}

.checkers-board {
  border-collapse: collapse;
  margin: 1rem 0;

  .selected-cell {
    outline: 3px solid #67df67;
  }
}
